{% extends 'common_code/base.html' %}
{% block title %} Payment-1 {% endblock title %}

{% block content%}
<h1>This is our payments-1 page</h1>
{% endblock content %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bkash</title>
</head>
<body>
     we can create variable and access from the html file.We have to create dictionary in related views.py file and use that's key value as a variable here.Syntax for variable is variable name

     We can filter the variable and it's syntax is "variable_name | filter" -->
    
    <!-- <h1>You can pay using {{pm | lower}} </h1>
    <p>You'll get dicount {{dis}}</p>
    <p>{{con | upper}}</p> -->
    <!-- <p>Present time is {{date}} </p> -->
    
    <!-- <h2>My name Is {{nm}}</h2> -->
    <!-- Here {{nm}} is a variable and nm is a key value used in related views.py file. -->
    
    <!-- This is if else tag systax of django -->
    <!-- {% if pm %}
    <h1>You can pay using {{pm}} </h1>

    {% elif dis %}
    <h3>You will get {{dis}} discount </h3>

    {% else %}
    <h1>You can't pay using {{pm}} </h1>
    {% endif %} -->

    <!-- This is for loop tag systax of django. forloop.counter basically count the variable and put infront of  -->
    <!-- {% for name in friends %} {{forloop.counter}} {{name}} <br> {% endfor %} -->


<!-- </body>
</html> --> 

